* {
  margin: 0;
  font-family: sans-serif;
}

/*******************************
            Style For Header
  ******************************/
header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 144, 14, 0.1);
}
.menu > a {
  color: #424242;
  margin-left: 10px;
  text-decoration: none;
}
/*******************************
            Style For First-section
  ******************************/
.first-section-container {
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 100px;
}

.top-info {
  margin: auto;
  width: 60%;
  padding-top: 100px;
  text-align: center;
}

.top-info > h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.top-info > p {
  margin-bottom: 15px;
}

.explore-btn {
  font-weight: bold;
  color: #ffffff;
  background-color: #ff900e;
  border: 0;
  border-radius: 10px;
  padding: 15px 25px;
}
.explore-btn:hover {
  background-color: #faa23c;
}
.top-img {
  padding: 30px;
}
.top-img > img {
  margin-top: 100px;
  width: 100%;
}
/****************************************
            Style For Second-section
*****************************************/
.second-section-container {
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.group-img-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.group-img {
  width: 100%;
}
.group-info {
  width: 50%;
}
.group-info > h1 {
  color: #727272;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 15px;
}
.group-info > p {
  margin-bottom: 15px;
}
#bold-heading {
  font-weight: bold;
  color: #131313;
}
#color-heading {
  color: #ff900e;
  font-weight: bold;
}
/************************************************
             Responsive Style  
*************************************************/
@media only screen and (max-width: 640px) {
  header {
    flex-direction: column;
    gap: 50px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*******************************
            Style For Second-section
  ******************************/
  .second-section-container{
    flex-direction: column-reverse
  }
  .group-info {
    text-align: center;
    width: 100%;
  }
  .group-img-container {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
