* {
  margin: 0;
  font-family: sans-serif;
}

/*******************************
            Style For Header
  ******************************/
header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 144, 14, 0.1);
}
.menu > a {
    font-size: 20px;
    font-weight: bold;
  color: #424242;
  margin-left: 10px;
  text-decoration: none;
}
/*******************************
            Style For First-section
  ******************************/
.first-section-container {
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 100px;
}

.top-info {
  margin: auto;
  width: 60%;
  padding-top: 100px;
  text-align: center;
}

.top-info > h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.top-info > p {
  margin-bottom: 15px;
}

.explore-btn {
  font-weight: bold;
  color: #ffffff;
  background-color: #ff900e;
  border: 0;
  border-radius: 10px;
  padding: 15px 25px;
}
.explore-btn:hover {
  background-color: #faa23c;
}
.top-img {
  padding: 30px;
}
.top-img > img {
  margin-top: 100px;
  width: 100%;
}
/****************************************
            Style For Second-section
*****************************************/
.second-section-container {
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.group-img-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.group-img {
  width: 100%;
}
.group-info {
  width: 50%;
}
.group-info > h1 {
  color: #727272;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 15px;
}
.group-info > p {
  margin-bottom: 15px;
}
#bold-heading {
  font-weight: bold;
  color: #131313;
}
#color-heading {
  color: #ff900e;
  font-weight: bold;
}

/****************************************
            Style For Third-section
*****************************************/

.third-section-container {
  margin-top: 100px;
  padding: 30px;
  display: flex;
  gap: 30px;
}
.architect-info {
  width: 50%;
  padding: 25px;
}
.architect-heading {
    border-left: 3px solid #ff900e;
    padding-left: 10px;
    font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
}

.architect-img {
  padding: 30px;
  position: relative;
  width: 50%;
}
.architect-img > img {
  width: 90%;
}

.articles {
  margin-top: 40px;
}

.architect-article {
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.architect-article > p {
  margin-top: 10px;
}
.year-btn {
  color: #ffffff;
  background-color: #ff900e;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: -50px;
  padding: 10px 25px;
  border: 0;
  border-radius: 10px;
}
.year-btn > span {
  font-weight: bold;
  font-size: 30px;
}

/****************************************
            Style For fourth-section
*****************************************/
.fourtsh-section-container{
    margin-top: 100px;
    padding: 30px;
}
.facts-heading{
    margin-bottom: 20px;
    font-size: 40px;
}
.facts-blogs{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.facts-blog {
    text-align: center;
  border: 1px solid #ff900e;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
  transition:  0.3s;
}
.facts-blog:hover{
    transform: scale(1.1);

}
.facts-blog>p{
    color: #727272
    ;
}

/****************************************
            Style For Fifth-section
*****************************************/


.fifth-section-container{
    margin-top: 100px;
}
.Sponspors-container{
    text-align: center;
}
.Sponspors-heading{
    font-size: 40px;
    margin-bottom: 15px;
}
.sponsors{
    filter: grayscale(100%);
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px
        ;
}


/****************************************
            Style For Footer
*****************************************/
footer{
margin: 100px auto;
    width: 80%;
    padding: 30px;
    background-color: #FFF4E7;
    border-radius: 10px;
}
.footer-text{
    text-align: center;
}

/* Extra Section container */
.extra-section-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.sub-img{
    width: 50%;
}
.sub-img>img{
    width: 90%;
}
.form-container{
    width: 50%;
}
form{
    padding: 20px;
    font-size: 30px;
}
.form-heading{
    font-size: 50px;
    margin-bottom: 50px;
}

input{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.sub-btn{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    background-color: #ff8800;

}


/************************************************
             Responsive Style  
*************************************************/
@media only screen and (max-width: 640px) {
  header {
    flex-direction: column;
    gap: 50px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*******************************
          Responsive Style For Second-section
  ******************************/
  .second-section-container {
    flex-direction: column-reverse;
  }
  .group-info {
    text-align: center;
    width: 100%;
  }
  .group-img-container {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  /***********************************************
           Responsive Style For Third-section
**************************************************/
  .third-section-container {
    flex-direction: column;
  }
  .architect-info {
    width: 90%;
  }
  .architect-article {
    padding: 10px;
    margin: 10px;
  }
  .architect-img {
    width: 90%;
  }
  .year-btn {
    position: relative;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  /***********************************************
           Responsive Style For fourth-section
**************************************************/
.facts-blogs{
    flex-direction: column;
    align-items: center;
}
/****************************************
            Style For Fifth-section
*****************************************/
.sponsors{
    flex-direction: column;
    align-items: center;

}
/****************************************
            Style For extra-section
*****************************************/
.extra-section-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container{
    width: 100%;
}
.sub-img{
    width: 80%;
}
}
